<% include ./partials/header %>

<script>
	body{
   background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-family: Abel;
}
   #sk{
	 font-weight: 30px;
   font-size: 25px;
	margin-top: 3%;
}
	h1 , h2{
	text-decoration: underline;
}
</script>
<div class="container" id="sk">
<div class="shadow p-3 mb-5 bg-info rounded">
<h1>About:</h1>
<p>
	I am currently a student of B.Tech and I am working to build interactive websites.I am front-end and back-end web developer.My wish is to become a good web developer.Since there are lot of online resources,so I started working on web to design webpages using front-end tools and to build back-end web pages and dynamic and responsive.I like to learn new things and I always try to increase my developing skills than now.
</p>
<h2>FrontEnd Development:</h2>
<p>
		I am very interested in designing and I have basic experience on developing front-end web pages.Because front-end describes the levels of my web page designing.There are certain languages and tools to build front-end web pages.I use some of them like HTML,CSS,JAVASCRIPT,BOOTSTRAP,etc.to build front-end web pages.
</p>
<h2>BackEnd Development:</h2>
<p>
	At present,Iam working on this phase to develop my back-end skills.Back End Development usually consists of a server, an application, and a database.I use NODE.JS,MONGO DATABASE,MYSQL,etc.for back-end.I write my javascript code in cloud9 IDE by using node.js to run on a server side.
</p>
<br>
</div>
</div>

<% include ./partials/footer %>
