<% include ./partials/header %>

<script>
body{
   background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-family: Abel;
}
</script>

<div class="container">
<div class="d-flex justify-content-center mt-5">
  <img src="https://justpaste.it/img/small/9b915369d67088d32bf511a6b4064376.jpg" alt="..." class="rounded-circle" width="250px" height="250px">
</div>
 <div class="shadow p-3 mb-5 mt-5 bg-info rounded">
  <p class="text-center mt-3" id="para">Hello!This is Hari madhav.I design and build websites.
    <br>
    Iam a front-end and back-end web developer.
    <br> 
    At present, Iam a student and working to build a responsive websites.
    <br>
    My passion is creating and developing, and I find happiness in being a better me today than the me yesterday.
  </p>
</div>
</div>

<% include ./partials/footer %>