<% include ./partials/header %>

<script>
body{
   background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-family: Abel;
   }
   #sk{
	 font-weight: 30px;
   font-size: 25px;
	margin-top: 3%;
}
</script>
 <div class="shadow p-3 mb-5 mt-5 bg-info rounded" id ="sk">
 <p>Cool! My Projects will appear soon</p>
 </div>
