<% include ./partials/header %>

<style>
	body{
   background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
   font-family: Abel;
   h1 , h2{
	text-decoration: underline;
}
	#sk{
	 font-weight: 30px;
   font-size: 25px;
	margin-top: 3%;
}
</style>
	<div class="container" id="sk">
		<div class="shadow p-3 mb-5 bg-info rounded">
<h1>My Skills:</h1>
<ul>
	<h2>Programming skills:</h2>
	<li>C</li>
	<li>C++</li>
	<li>Java</li>
</ul>
<ul>
	<h2>Tools and Technologies:</h2>
	<li>HTML</li>
	<li>CSS</li>
	<li>Java Script</li>
	<li>Embedded Javascript</li>
	<li>Bootstrap</li>
	<li>Node.js</li>
	<li>MongoDB</li>
</ul>
</div>
</div>

<% include ./partials/footer %>